################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DocumentEditor/v15/Server/sqlite3
/.vs/DocumentEditor/v15/.suo
/.vs/config/applicationhost.config
